# General
.git/
.gitignore
.dockerignore
docker-compose.yml
README.md
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/

# Backend
backend/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/venv/
backend/.env
backend/.pytest_cache/
backend/.ipynb_checkpoints/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/.env.local
frontend/.env.*.local
frontend/.npm/
